* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: sans-serif;
}

#todo {
    border: 2px solid black;
    height: 600px;
    width: 400px;
    overflow: scroll;
    text-align: center;
}

.archive {
    margin-bottom: 40px;
}

.action {
    border: 2px solid black;
    border-top: 0px;
    text-align: center;
    padding: 0px 20px 20px 20px;
    width: 400px;
}

.archives {
    text-decoration: line-through;
}